@model WebNesta.Coyote.Web.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form method="post" autocomplete="off" action="/Login/Index">

    <!--Html.AntiForgeryToken() -->
    <div class="row" style="padding-left: 50px; padding-right: 50px; margin-top: -10px;">
        <label class="titulo">Login</label>
    </div>

    <div class="row m-3">
        <a href="#" class="m-auto ajuda" id="ajudaLogin">
            <span>@WebNesta.Coyote.Web.App_GlobalResources.Login.ResourceManager.GetString("label_1")</span><i class="fas fa-question-circle ml-2"></i>
        </a>
    </div>

    <div class="row justify-content-center">
        <!--Url.Action("SignIn", "Login",new { provider = "google" })-->
        <a href="/Login/SignIn?provider=google" class="col-5 btn_login_external mr-2">
            <p>Google</p>
            <i class="fab fa-google"></i>
        </a>

        <a href="/Login/SignIn?provider=azure" class="col-5 btn_login_external ml-2">
            <p>AD Azure</p>
            <i class="fab fa-microsoft"></i>
        </a>

    </div>

    <div class="row m-2">

        <div class="col-5">
            <hr />
        </div>

        <div class="col-2 ou">
            <span>@WebNesta.Coyote.Web.App_GlobalResources.Login.ResourceManager.GetString("label_2")</span>
        </div>

        <div class="col-5">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-c1">
            <div class="c-left">
                <label class="">@WebNesta.Coyote.Web.App_GlobalResources.Login.ResourceManager.GetString("label_3"):</label>
            </div>
            <div class="c-right">
                @*class="dxeEditArea_COYOTE dxeEditAreaSys dxh0" *@
                @*style="background:inherit !important;border:inherit !important;color:#ffffff"*@

                <div class="dxeTextBoxSys dxeTextBox_COYOTE dxeTextBoxDefaultWidthSys" style="border: none !important;">
                    <div class="dxic" style="border: none !important;width:100%;">
                        <input type="text" id="txtLogin" class="dxeEditArea_COYOTE dxeEditAreaSys" style="border: none !important;" placeholder=" Clique Aqui" />
                    </div>
                </div>
                @*  EXISTENTE

                Html.DevExpress().TextBoxFor(m => m.USIDUSUA, settings =>
                {
                settings.Theme = "COYOTE";
                if (ViewBag.UserName != null)
                settings.Text = ViewBag.UserName;
                settings.ClientEnabled = !ViewBag.Valida;
                settings.Properties.ValidationSettings.Display = Display.None;
                settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                settings.Properties.NullText = "Clique aqui";
                }).GetHtml()*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-c1">
            <div class="c-left">
                <label class="">@WebNesta.Coyote.Web.App_GlobalResources.Login.ResourceManager.GetString("label_4"):</label>
            </div>
            <div class="c-right">
                @*class="dxeEditArea_COYOTE dxeEditAreaSys dxh0" *@
                <div class="dxeTextBoxSys dxeTextBox_COYOTE dxeTextBoxDefaultWidthSys">
                    <div class="dxic" style="border: none !important;width:100%;">
                        <input type="password" id="txtPassword" class="dxeEditArea_COYOTE dxeEditAreaSys" style="border: none !important;" placeholder="Clique Aqui" />
                    </div>
                </div>
                @* EXISTENTE
                Html.DevExpress().TextBoxFor(m => m.PASSCODE, settings =>
                {
                settings.Theme = "COYOTE";
                settings.ClientEnabled = !ViewBag.Valida;
                settings.Properties.ClientInstanceName = "txtsenha";
                settings.Properties.Password = true;
                settings.Properties.ValidationSettings.Display = Display.None;
                settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                settings.Properties.NullText = "Clique aqui";
                }).GetHtml() *@
            </div>
        </div>
    </div>

    <div class="row m-2">
        <span class="text-danger">@*ViewBag.MsgErrorLogin*@</span>
    </div>

    <div class="row opts-login">
        <div class="col-6 p-0">
            <label class="container" style="font-size: 12px;">
                <input type="checkbox" id="chkRemember" name="remember">
                <span class="checkmark"></span>
                @WebNesta.Coyote.Web.App_GlobalResources.Login.ResourceManager.GetString("label_5")
            </label>
            @*if (ViewBag.Valida)
            {
            <label class="container" style="font-size: 12px;">
            <input type="checkbox" name="remember">
            @*EXISTENTE
            Html.CheckBox("remember", false, new { @disabled = "disabled" })

            <span class="checkmark"></span>
            Resources.Login.label_5
            </label>
            }
            else
            {
            <label class="container" style="font-size: 12px;">
            <input type="checkbox" name="remember">

            Html.CheckBox("remember", false)
            <span class="checkmark"></span>
            Resources.Login.label_5
            </label>
            }*@

        </div>
        <div class="col-6 p-0" style="font-size: 11px; text-align: right; line-height: 20px;">
            <a href="#" id="btnEsqueciMinhaSenha" class="link_esqueci">@WebNesta.Coyote.Web.App_GlobalResources.Login.ResourceManager.GetString("label_6")</a>
            @*Html.ActionLink(@, "Recover", "Login", new { @class = "link_esqueci" })*@
        </div>
    </div>

    <div class="row">
        <input type="button" class="btn_login text-center" name="btnLogin" value="Login" id="btnLogin" />
        @*
        if (ViewBag.Valida)
        {
        <input type="submit" class="btn_login text-center" name="logar" value="Login" disabled="disabled" />
        }
        else
        {
        <input type="submit" class="btn_login text-center" name="logar" value="Login" />
        }*@
    </div>

    @* GOOGLE E CAPTCHA ANALISAR

    if (ViewBag.Valida)
    {
    if (Convert.ToBoolean(System.Web.Configuration.WebConfigurationManager.AppSettings["2FA_Google"]))
    {
    <input type="hidden" name="UserUniqueKey" value="@ViewBag.UserUniqueKey" />
    <div class="twofa-google mb-3">

    <div class="row">
    <div class="col-7 pb-2">
    <p class="instruction">@WebNesta.Coyote.WebApp.App_GlobalResources.Login.ResourceManager.GetString("label_google_1")</p>
    <p class="instruction2">@WebNesta.Coyote.WebApp.App_GlobalResources.Login.ResourceManager.GetString("label_google_2")"</p>
    </div>
    <div class="col-5 p-0 text-center">
    <img src="@ViewBag.BarcodeImageUrl" />
    </div>
    </div>

    <div class="row">
    <div class="col-12 p-2">
    <p class="instruction2 code mb-0 pl-2">@WebNesta.Coyote.WebApp.App_GlobalResources.Login.ResourceManager.GetString("label_google_3") ViewBag.SetupCode</p>
    </div>
    </div>

    <div class="row">
    <div class="col-12">
    <div class="col-c1" style="width: 100%; max-width: 100%; margin: auto auto 5px auto; ">
    <div class="c-left">
    <label class="">@WebNesta.Coyote.WebApp.App_GlobalResources.Login.ResourceManager.GetString("label_google_4")</label>
    </div>
    <div class="c-right">
    @Html.DevExpress().TextBox(settings =>
    {
    settings.Theme = "COYOTE";
    settings.Name = "securitycode";
    settings.ClientEnabled = true;
    settings.Properties.ValidationSettings.Display = Display.None;
    settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
    }).GetHtml()
    </div>
    </div>

    </div>
    </div>
    </div>
    }
    else
    {
    <div class="row captcha">
    JÁ COMENTADO
    @Html.DevExpress().Captcha(settings =>
    {
    settings.Theme = "COYOTE";
    settings.Name = "Captcha";
    settings.CallbackRouteValues = new { Controller = "Login", Action = "CaptchaPartial" };
    settings.CharacterSet = "qwertyuioplkjhgfdsamnbvcxz12345678";
    settings.CodeLength = 5;
    settings.RefreshButton.Position = DevExpress.Web.Captcha.ControlPosition.Top;
    settings.RefreshButton.Image.Url = "~/img/refresh.png";
    settings.RefreshButton.Text = "";
    settings.CodeLength = 5;
    settings.TextBox.Position = DevExpress.Web.Captcha.ControlPosition.Bottom;
    settings.TextBox.LabelText = "Digite o código acima: ";
    settings.ValidationSettings.Display = Display.None;
    settings.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
    settings.ValidationSettings.RequiredField.IsRequired = true;
    settings.ValidationSettings.ErrorText = "Input the code";
    }).GetHtml()
    EXISTENTE
    Html.Action("CaptchaPartial")
    </div>
    }
    <div class="row" style="margin: auto auto 0px auto; ">
    <input type="submit" class="btn_login text-center" name="validar" value="@WebNesta.Coyote.WebApp.App_GlobalResources.Login.ResourceManager.GetString("label_7")">
    </div>
    }*@

</form>


